@using Tanfolyam.Models.Data.Classes
@using Tanfolyam.Models.Data.DTO
@using Tanfolyam.Models.Data.Enums
@model IEnumerable<DtoCourseWrapper>

@{
    ViewData["Title"] = "CourseListing";
}

<h1>CourseListing</h1>

<p>
    <a asp-area="Admin" asp-controller="Admin" asp-action="OpenAddCourseView">Új kurzus hozzáadása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule.RegistrationDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule.LengthInHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.StudentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Course.Teacher.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Course.Type)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Course.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Course.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.RegistrationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.LengthInHour)
            </td>
            <td>
                    @Html.DisplayFor(model => item.Course.StudentCount) / @TanfolyamConstants.HeadcountMaximum
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Course.Status)
            </td>
            <td>
                    @if (item.Course.Status == Status.Inactive)
                    {
                        <form asp-controller="Admin" asp-action="OpenActivateCourse">
                            <input type="hidden" name="courseId" asp-for="@item.Course.Id" />
                            @if (item.IsLaunchable)
                            {
                                <input type="submit" value="Aktiválás" class="btn btn-primary" />
                            }
                            else
                            {
                                <input type="submit" value="Aktiválás" class="btn btn-primary" disabled/>
                            }
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Admin" asp-action="DeactivateCourse">
                            <input type="hidden" name="courseId" asp-for="@item.Course.Id" />
                            <input type="submit" value="Deaktiválás" class="btn btn-primary" />
                        </form>
                    }
                    <form asp-controller="Admin" asp-action="OpenCourseEditView">
                        <input type="hidden" name="courseId" asp-for="@item.Course.Id" />
                        <input type="submit" value="Módosítás" class="btn btn-primary" />
                    </form>
                    <form asp-controller="Admin" asp-action="DeleteCourse">
                        <input type="hidden" name="courseId" asp-for="@item.Course.Id" />
                        <input type="submit" value="Törlés" class="btn btn-primary" />
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
