@model IEnumerable<Tanfolyam.Models.Data.Classes.Course>

@{
    ViewData["Title"] = "CourseListing";
}

<h1>CourseListing</h1>

<p>
    <a asp-area="Admin" asp-controller="Admin" asp-action="OpenAddCourseView">Új kurzus hozzáadása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headcount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule.RegistrationDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule.LengthInHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headcount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.RegistrationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.LengthInHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Admin" asp-action="OpenCourseEditView" asp-route-id="@item.Id">Módosítás</a> |
                    <a asp-action="DeleteCourse" asp-controller="Admin" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
