@using Microsoft.AspNetCore.Identity
@using Tanfolyam.Models.Data.Classes
@using Tanfolyam.Models.Data.DTO
@using Tanfolyam.Models.Data.Enums
@using Tanfolyam.Models.Data.Interfaces
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<DtoCourseWrapper>

@if (SignInManager.IsSignedIn(User))
{
    <section class="maintext">
        <h1>Jelentkezz az alábbi kurzusok közül:</h1>
    </section>
    <section class="info">
        <div>
            <form asp-controller="Course" asp-action="ExportToXML">
                <select name="action" class="form-control form-input">
                    <option value="ExportAllToXML">Minden exportálása</option>
                    <option value="ExportEnrolledCoursesToXML">Csak a felvett tanfolyamok exportálása</option>
                </select>
                <input type="submit" value="Exportálása XML formátumba" class="btn btn-primary" />
            </form>
        </div>
        <div class="balance">
            <p>Hátralevő egyenleged: @UserManager.GetUserAsync(User).Result.Budget Ft</p>
        </div>
    </section>
    <section>
        <div>
            <ul class="bg-bubble">
                @foreach (var dtoCourse in Model)
                {
                    string aspAction = "AddToMyCourse";
                    string buttonText = "Felvesz";
                    string disableButton = dtoCourse.DisableFormControll ? "disabled" : "";
                    if (dtoCourse.IsCurrentUserEnrolled )
                    {
                        aspAction = "RemoveFromMyCourse";
                        buttonText = "Lejelentkezés";
                        if (dtoCourse.Course.Status != Status.Active)
                        {
                            disableButton = "";
                        }
                    }
                    <form asp-action="@aspAction" asp-controller="Course" asp-area="Course">
                        <input type="hidden" name="courseId" asp-for="@dtoCourse.Course.Id" />
                        <li class="li-bg">
                        <span class="listitem">@dtoCourse.ToString() | @dtoCourse.Schedule.ToString() </span>
                            <span><button type="submit" class="li-btn" @disableButton>@buttonText</button></span>
                        </li>
                    </form>
                }
            </ul>
        </div>
    </section>
}
else
{
    <section class="maintext">
        <h1>A kurzusok megtekintéséhez jelentkezz be!</h1>
    </section>
}