@using Microsoft.AspNetCore.Identity
@using Tanfolyam.Models.Data.Classes
@using Tanfolyam.Models.Data.Interfaces
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<Course>

@if (SignInManager.IsSignedIn(User))
{
    <section class="maintext">
        <h1>Az alábbi kurzusokra jelentkeztél:</h1>
    </section>
    <section class="info">
        <div>
            <input type="text" class="filter" placeholder="Keresés oktató nevére...">
        </div>
        <div class="balance">
            <p>Hátralevő egyenleged: @ViewBag.UserBudget Ft</p>
        </div>
    </section>
    <section>
        <div>
            <ul class="bg-bubble">
                @if (Model is not null)
                {
                    @foreach (var course in Model)
                    {
                        <li class="li-bg">
                            <span class="listitem">@course.Name | @course.Type | @course.Teacher | @course.Description | @course.Price | @course.Schedule.ToString() | @course.Status</span>
                            <span><button class="li-btn">Visszavonás</button></span>
                        </li>
                    }
                }
            </ul>
        </div>
    </section>
}
else
{
    <section class="maintext">
        <h1>A kurzusok megtekintéséhez jelentkezz be!</h1>
    </section>
}